/* Colors */

/* White: #f1fef4 */
/* Blue: #011b33 */
/* Green: #3bb75e */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #011b33;
  font-family: "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0 auto;
}

/* ****** */
/**** General Stuff ****/
/* ****** */
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #011b33;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 4.2rem;
  line-height: 1.05;
  margin-bottom: 2.2rem;
}

.heading-secondary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

a {
  font-size: 1.6rem;
  font-weight: 500;
  color: #011b33 !important;
  line-height: 1.3;
  vertical-align: middle;
  letter-spacing: -0.01em;
  text-decoration: none;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.7rem 2rem;
  border-radius: 5px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original state */
  transition: all 0.3s;
}

.btn-success:link,
.btn-success:visited {
  background-color: #3bb75e;
  color: #f1fef4 !important;
}

.btn-success:hover,
.btn-success:active {
  background-color: #cf711f;
}

.btn-outline:link,
.btn-outline:visited {
  /* background-color: #fff; */
  color: #555;
}

.btn-outline:hover,
.btn-outline:active {
  border: 2px solid #3bb75e;
  box-shadow: inset 0 0 0 2px #fff;
}

/* ****** */
/**** NavBar ****/
/* ****** */
.top-banner {
  background-color: #011b33;
  border: 15px solid #011b33;
}

.top-banner a {
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.7rem;
  color: rgb(223, 215, 215) !important;
}

.navbar {
  background-color: #f1fef4 !important;
}

.nav-section {
  max-width: 150rem;
  padding: 0 3.8rem !important;
}

.nav-item {
  align-items: center;
  justify-content: center;
}

.paystackLogo {
  height: 3.2rem;
}

.link {
  color: #3bb75e;
  font-size: 1.4rem;
  text-decoration: none;
  display: flex;
}

#row {
  display: flex;
  align-items: center;
  padding-right: 6rem;
  block-size: 50%;
}

.navbarCountryLogo {
  max-width: 100%;
  width: 1.5rem;
  height: 15px;
}

/* .expanded_dropdown { */
/* display: flex=10px; */
/* } */

.dropdown-item {
  font-weight: 30px;
}

ul {
  list-style: none;
}

.row {
  display: flex;
  align-items: center;
  max-width: 100%;
  position: relative;
}

.right-nav {
  align-items: center !important;
}

.wide-dropdown {
  padding: 0 !important;
  width: 500px !important;
}

.nav-dropdown-why-paystack-universal {
  display: grid !important;
  grid-template-columns: 2fr 1fr !important;
  padding: 0 !important;
  margin: 0 !important;
}

.nav-dropdown-why-paystack-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px !important;
}

.nav-dropdown-why-paystack-left-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nav-dropdown-why-paystack-left-div div img {
  width: 30px;
  height: 30px;
}

.nav-dropdown-why-paystack-left-div div .dropdown-item {
  font-weight: bold;
  padding: 0 !important;
  font-size: 1.5rem;
}

.nav-dropdown-why-paystack-left-div div p {
  font-size: 1.4rem;
}

.nav-dropdown-why-paystack-right {
  background-color: rgba(236, 232, 232, 0.7);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 20px 20px 5px !important;
  font-size: 1.4rem;
}

.nav-dropdown-why-paystack-right .list-heading {
  text-transform: uppercase;
  font-weight: normal !important;
  font-size: 1rem !important;
}

.nav-dropdown-why-paystack-right ul li {
  font-weight: bold;
  margin-bottom: 5px;
}

.wrapper-dropdown {
  padding: 10px !important;
  border-radius: 5px;
  background-color: #f1fef4;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.wrapper-dropdown li .dropdown-item {
  font-weight: 700 !important;
}

.wrapper-dropdown-flag {
  padding: 15px 10px !important;
  width: 150px !important;
  border: none;
}

.wrapper-dropdown-flag li {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
}

.wrapper-dropdown-flag li .dropdown-item {
  font-weight: normal !important;
}

/* ****** */
/**** Hero Section ****/
/* ****** */
.heroPage {
  background-color: #f1fef4;
  padding: 6.8rem 0 8.6rem 0;
  margin: 0 auto;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 3.8rem;
}

.hero-img {
  max-width: 100%;
  width: 60rem;
  /* height: 60rem; */
  border-radius: 100%;
  /* position: absolute; */
  /* left: 70rem; */
}

.hero-img-radius {
  border-radius: 100%;
}

/* #upPopUp,
#paystackPopUp,
#closeToPaystackPopUp,
#underLeftPopUp,
#underRightPopUp {
  display: none;
}

svg text {
  display: none;
}
svg g:hover text {
  display: block;
} */

.tooltip ul {
  padding-left: 0;
  list-style: none;
}

svg {
  max-width: 640px;
  margin: 0 auto;
  display: block;
}

.expanded_dropdown {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.row-1 {
  padding: 2rem;
  display: flex;
}

.col-4 {
  text-align: right;
  padding-right: 1px;
}

.hero-footer {
  margin-top: 9.6rem;
  display: flex;
  flex-direction: row;
  /* gap: 80rem; */
  justify-content: space-between;
}

.hero-footer-left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hero-footer-left p {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1.2;
}

.hero-footer-left .hero-footer-left-logo {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.hero-footer-left .hero-footer-left-logo img {
  max-width: 100%;
  max-height: 100%;
  height: 2.8rem;
  width: auto;
}

.hero-footer-right {
  /* position: relative; */
  display: flex;
  /* left: 13rem; */
}

.hero-footer-right a {
  text-decoration: none;
  font-size: 1.5rem;
  /* justify-content: right; */
  text-align: right;
  padding-left: 1.5rem;
}

.hero-footer-right img {
  height: 6rem;
  width: 6rem;
  max-width: 100%;
  max-height: 100%;
}

/* Simple Easy Payment Part */
.first-section {
  display: flex;
  flex-direction: column;
  /* column-gap: 20rem; */
  max-width: 130rem;
  margin: 0 auto;
  /* line-height: 1rem; */
  /* box-sizing: border-box; */
}

.first-section-header {
  padding-top: 10rem;
}

.first-section-division {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.row-left {
  padding: 3rem;
}

.row-left img {
  max-width: 100%;
}

.row-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 3rem;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 3.8rem;
  font-weight: 500;
}

.checklist-svg {
  max-width: 100%;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.first-section .first-section-division .row-right a {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  color: #3bb75e !important;
}

.first-section-division2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  /* margin-bottom: 20rem; */
}

.first-section-division2 .last-left a {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  color: #3bb75e !important;
}

.last-right {
  max-width: 100%;
}

.first_part {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  margin: 15rem auto;
  justify-content: center;
  /* width: 1200px; */
  max-width: 130rem;
}

.first_part_inner1 {
  margin-right: 50px;
  flex-direction: column;
  align-items: center;
}

.last-left-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 3.8rem;
  font-weight: 500;
}

video {
  max-width: 100%;
  width: 60rem;
  /* height: 40rem; */
  /* object-fit: contain; */
}

h3 {
  font-weight: 800;
  line-height: 1.2;
}

.first_part {
  max-width: 130rem;
}

.first_part_inner2 {
  display: flex;
  /* flex: 2; */
  align-items: center;
  flex-direction: column;
}

.first_part,
.second-part,
.third-part > div {
  font-size: 1.9rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  font-weight: normal;
}

.first_part_inner2_1 {
  margin-bottom: 50px;
}

.second_part {
  background-color: #eaf6fc;
  background-image: "./assets/img/checked-pattern-blue.png";
  background-repeat: no-repeat;
  object-fit: contain;
}

.second_part .second_part_div {
  max-width: 130rem;
  margin: 0 auto;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.second_part .second_part_div .cards-container .cards img {
  max-width: 100%;
  width: 12rem;
  height: 12rem;
}

.second_part .second_part_div .cards-container .cards a i {
  color: #3bb75e;
}

.cards-container {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
}

.cards {
  background-color: #fff;
  padding: 3rem;
}

.third_part {
  background-color: #fff;
}

.third_part .third_part_div {
  max-width: 130rem;
  margin: 0 auto;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.logos-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 2.5rem;
  row-gap: 5rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.logos {
  height: 2.5rem;
  width: auto;
  max-height: 100%;
  /* padding: 20px; */
}

/* ********* */
/* last part with footer */
/* ********* */
.first-footer,
.second-part-max {
  max-width: 130rem;
  margin: 0 auto;
  padding: 2rem 0;
}

.section-pattern--circular::before {
  /* left: 65%; */
  background-position-x: 100% 200px;
  background-position-y: center;
  background-image: url(/assets/content/circular\ background.png);
  opacity: 0.2;
  content: " ";
  position: absolute;
  width: 30%;
  height: 100%;
  /* background-repeat: no-repeat; */
  filter: grayscale(100%);
}

.first-part {
  background: #f9fbfc;
  padding-bottom: 15rem;
  padding-top: 15rem;
  position: relative;
  display: block;
  box-sizing: border-box;
}

/* .first-part-header {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 1.5rem;
} */

/* .summary {
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  margin: 0;
  font-weight: normal;
  box-sizing: border-box;
  margin: 0 0 6rem;
} */

/* p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-block-start: 0;
  margin-inline-end: 0;
} */

.row {
  margin-bottom: 3rem;
  display: flex;
  box-sizing: border-box;
}

.col {
  margin-right: 2rem;
  box-sizing: border-box;
  display: block;
}

.card {
  overflow: hidden;
  height: 100%;
  border-radius: 0.6rem;
  border: 1px solid #f0f2f3;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 4.8rem 3.2rem;
  box-shadow: 0px 1px 6px rgb(0 0 0 / 2%);
  background: white;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
}

.logo img {
  max-height: 100;
  border-style: none;
  box-sizing: border-box;
  margin: 0 0 1.2rem;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding-right: 0;
  padding-left: 0;
  position: relative;
  height: 2.8rem;
  user-select: none;
}

.card-body {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.partnerp {
  margin: 3.2rem 0;
  font-weight: normal;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.7rem;
  line-height: 1.6;
}

.partner1 {
  display: inline-flex;
  align-items: center;
  margin-top: 1rem;
  box-sizing: border-box;
}

.card-image > img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #eaf6fc;
  margin-right: 1.2rem;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  border-style: none;
}

.card-title {
  line-height: 1.1;
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  box-sizing: border-box;
  display: block;
}

.card-text {
  font-size: 0.8rem;
  box-sizing: border-box;
  display: block;
}

.section-pattern--curved::before {
  background-size: auto 350px;
  background-image: url(/assets/content/curved\ background.png);
  background-position: 0 5rem;
  background-repeat: repeat-x;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40rem;
  opacity: 0.2;
}

.second-part {
  padding-top: 5rem;
  padding-bottom: 15rem;
  position: relative;
  display: block;
  box-sizing: border-box;
}

/* .container--2 {
  max-width: 124rem;
  margin: 0 auto;
  width: 100%;
  padding: 0 1.6rem;
  position: relative;
  box-sizing: border-box;
  display: block;
} */

.signup {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10rem;
  /* padding: 100px 0 0; */
  box-sizing: border-box;
}

/* .signup-left {
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  display: block;
}

.signup-left > p {
  margin-bottom: 20px;
  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  margin: 0;
} */

/* .signup-left > h2 {
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 700;
  color: #011b33;
  margin: 0 0 10px;
  display: block;
} */

/* .signup-right {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
} */

.footer {
  max-width: 130rem;
  margin: 0 auto;
}

.footer_header {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.footer .footer_parent .footer_row .footer_column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer_parent .footer_row .footer_column ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: normal;
}

.footer .footer_parent .footer_row .footer_column ul {
  margin-bottom: 2rem;
}

.footer .footer_parent .footer_row .footer_column .location ul li,
.footer_parent .footer_row .footer_column .location ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: normal;
}

.footer_parent {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

.footer_row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15rem;
}

.footer .footer_parent .footer_row:last-child {
  border-top: 1px solid rgb(216, 209, 209);
  padding-top: 5rem;
}

.footer .footer_parent .footer_row .footer_column ul li .footer-list--link {
  color: #295d8d !important;
  transition: color 0.3s ease;
  /* font-weight: 600; */
}

/* .social-media-icons {
  filter: grayscale(100%);
} */
